<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
    <li>
      <a href="#" id="account">Account</a>
      <ul class="dropdown">
        <li><%= user.username %></li>
      </ul>
    </li>
  </ul>
</nav>
