<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Compare Solutions</title>
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #f7f9fc;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }
      h1 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
      }
      nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
      }
      nav a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        margin: 0 10px;
      }
      nav .dropdown {
        position: relative;
        display: inline-block;
      }
      nav .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      nav .dropdown:hover .dropdown-content {
        display: block;
      }
      nav .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      nav .dropdown-content a:hover {
        background-color: #f1f1f1;
      }
      ul {
        list-style: none;
        padding: 0;
        width: 100%;
        max-width: 600px;
      }
      ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
      }
      ul li:hover {
        transform: translateY(-5px);
      }
      ul li a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Compare Solutions</h1>
    <h2>Select a Company to Compare</h2>
    <ul>
      <% companies.forEach(function(company) { %>
      <li>
        <a href="/compare/<%= company.name %>"><%= company.name %></a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
