<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Provposed Consolidation Solution</title>
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #f7f9fc;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }
      h1 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
      }
      form {
        margin-bottom: 20px;
      }
      form input[type="text"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
      }
      form button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      form button:hover {
        background-color: #0056b3;
      }
      ul {
        list-style: none;
        padding: 0;
        width: 100%;
        max-width: 600px;
      }
      ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
      }
      ul li:hover {
        transform: translateY(-5px);
      }
      ul li a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
      }
      ul li button {
        padding: 5px 10px;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        background-color: #dc3545;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      ul li button:hover {
        background-color: #c82333;
      }
    </style>
  </head>
  <body>
    <h1>Proposed Consolidation Solution Opex Oriented</h1>
    <form action="/addCompanyOpex" method="POST">
      <input type="text" name="name" placeholder="Company Name" required />
      <button type="submit">Add Company</button>
    </form>
    <ul>
      <% companies.forEach(function(company) { %>
      <li>
        <a href="/addCaseOpex/<%= company.id %>"><%= company.name %></a>
        <form
          action="/deleteCompanyOpex/<%= company.id %>"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
